@page
@model CampLog.Web.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<article class="panel-card">
    <h1>Create an account</h1>
    <p>
        To register, please create an account via our identity provider.
    </p>
    <p>
        <a role="button" href="@Model.RegistrationUrl">Continue to registration</a>
    </p>
</article>
